
 <div class="header display-flex ">
  <div class="header-buttons">
      <div></div>
  </div>
</div>
<div class="justify-content-between align-items-center display-flex pt-3">
  <div style="height: 18px;">
      <object data="../../assets/icons/dashboard.svg" type=""></object>
  </div>
  <div class="search-bar">
      <div class="input-group">
          <span class="input-icon">
            <object data="../../assets/icons/search.svg" type=""></object>
          </span>
          <input type="text" class="form-control" placeholder="جستجو">
      </div>
  </div>
  <div style="height: 24px;">
    <object data="../../assets/icons/profile.svg" type=""></object>
  </div>
</div>

