/* Variable */
$background :#F5F5F5;
$font-color: #595959;
$font-color-grey: #8C8C8C;
$font-green:#40C79A;
$font-red:#FF526D;
$grey-divider : #FAFAFA;
$header-button: #BFBFBF;
$font-size-lg:1.7em;
$font-size-md:.85em;
$font-size-sm:.7em;
